:root {

--cor-fundo: #2671b4;

--cor-principal: #d6d8ea;

--cor-secundaria: #898daa;

--cor-destaque: #93b4ba;

--cor-texto: #D7F9FF;

}
body {

02min

background-color: var(--cor-fundo);

color: var(--cor-texto);

display: flex;

justify-content: center;

align-items: center;

min-height: 100vh;

}

